<% if current_user %>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.name %>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
        <li><%= link_to "New Article", new_article_url, class:"nav-link" %></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><hr class="dropdown-divider"></li>
        <li> <%= link_to "Logout", destroy_user_session_url, data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure you want to log out?"
        }, class:"nav-link" %> </li>
        <li> <%= link_to "Edit Account", edit_user_registration_url,  class:"nav-link" %> </li>
        </ul>
    </li>
<% else %>
    <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_url, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to "Login", new_user_session_url, class:"nav-link" %>
    </li>
<% end %>